.Menu {
  flex-basis: content;
  z-index: 5;
  font-size: 0.8rem;
}

.Menu .back {
  width: 220px;
  height: 100px;
}

.SideMenu {
  position: fixed;
  height: 100vh;

  top: 0;
  left: 0;

  background-color: #151E21;

  font-family: monospace;
  font-size: 1.5em;
  letter-spacing: 0.15em;

  user-select: none;
  transition: 0.3s left;
}

.SideMenu .links {
  width: 230px;
  max-height: 100%;
  margin-top: 12%;
}

.SideMenu span {
  padding-left: 7%;
  font-size: 1.75em;
  text-transform: uppercase;
  color: #006266;
}

.SideMenu ul {
  padding: 10% 0;
  list-style: none;
}

.SideMenu ul li {
  display: flex;
  align-items: center;

  background-color: #006266;
  height: 35px;

  padding: 5% 2%;
  margin-top: 4%;
}

.SideMenu ul li:hover {
  cursor: pointer;
  background-color: #1289A7;
}

.SideMenu ul li p {
  text-indent: 1.2em;
  color: #D1D1D1;
  text-decoration: none;
}

.SideMenu ul li p::first-letter {
  text-transform: uppercase;
}

/* *close-bar */
.SideMenu .close-bar {
  position: absolute;

  width: 20px;
  height: 100%;

  top: 0;
  right: -20px;
  background-color: #1f2124;
  cursor: pointer;
}

.SideMenu .close-bar:hover {
  background-color: #171718;
  transition: 0.5s background-color;
}

.SideMenu .close-bar::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 8px;
  width: 6px;
  height: 6px;
  border-top: 3px solid #D1D1D1;
  border-left: 3px solid #D1D1D1;
  transform: rotateZ(-45deg);
}


/* open-car */
.Menu .open-bar {
  position: fixed;
  width: 25px;
  height: 100%;

  top: 0;
  left: 0;

  background-color: #1f2124;
  cursor: pointer;
}

.Menu .open-bar:hover {
  background-color: #171718;
  transition: 0.5s background-color;
}

.Menu .open-bar::before {
  content: '';
  position: absolute;
  top: 15px;
  right: 5px;
  width: 15px;
  height: 3px;
  border-bottom: 2px solid #D1D1D1;
  border-top: 2px solid #D1D1D1;
}

.Menu .open-bar::after {
  content: '';
  position: absolute;
  top: 22px;
  right: 5px;
  width: 15px;
  height: 3px;
  border-bottom: 2px solid #D1D1D1;
}

@media screen and (max-width: 620px) {
  .Menu {
    user-select: none;
  }

  .Menu .back {
    display: none;
  }

  .SideMenu {
    width: 100vw;
    height: fit-content;

    background-color: #151e21fb;
  }

  .SideMenu span {
    display: none;
  }

  .SideMenu .links {
    width: 100%;
    margin: 0;
  }

  .SideMenu ul {
    margin: 0;
    padding: 0;
  }

  .SideMenu ul li {
    width: 60%;
    font-size: 1rem;
    padding: 0;
    margin: auto;
    margin-bottom: 10px;
  }

  .SideMenu ul li p {
    margin-left: 20%;
  }

  .SideMenu .close-bar {
    position: relative;
    width: 100%;
    height: 35px;
    bottom: 0;
    left: 0;
  }

  .SideMenu .close-bar::before {
    left: 49%;
    width: 10px;
    height: 10px;
    border-top: 4px solid #D1D1D1;
    border-left: 4px solid #D1D1D1;
    transform: rotateZ(45deg);
  }

  .Menu .open-bar {
    width: 60px;
    height: 60px;
    border-radius: 3px;
    left: auto;
    right: 0;
    top: 10px;
  }

  .Menu .open-bar::before,
  .Menu .open-bar::after {
    top: 35%;
    right: 25%;
    width: 30px;
    height: 3px;
    border-bottom: 5px solid #D1D1D1;
    border-top: 5px solid #D1D1D1;
  }

  .Menu .open-bar::after {
    top: 50%;
  }

}