.Certificate {
  padding: 2% 0 2% 2%;
}

.Certificate>h5 {
  line-height: 0.9em;
}

.Certificate>p strong {
  color: #006266;
}

.Certificate>p strong::first-letter {
  text-transform: uppercase;
}

.Certificate>p.credential {
  line-height: 1em;
  font-size: 0.8em;
}

.Certificate>p.duration {
  line-height: 1em;
  font-size: 0.8em;
}