.Contact {}

.Contact>form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.3rem;
}

.Contact>form div.name-container {
  flex-basis: 50%;
}

.Contact input[name='name'] {
  width: 90%;
}

.Contact>form div.email-container {
  flex-basis: 50%;
}

.Contact input[name='email'] {
  width: 90%;
}

.Contact>form div.message-container {
  flex-basis: 100%;
}

.Contact textarea {
  resize: none;
  width: 95%;
  max-width: 95%;
}

.Contact input[name='name'],
.Contact input[name='email'],
.Contact textarea {
  border-radius: 5px;
  border: 1px ridge #151e21cc;
  background-color: #f1f2eb;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.Contact input[name='name']:focus,
.Contact input[name='email']:focus,
.Contact textarea:focus {
  outline-color: #006266;
}

.Contact button {
  font-size: 1.2rem;
}