.Languages {}

.Languages>h2 {
  padding: 1% 0 3%;
}

.Languages>div {
  display: flex;
  flex-wrap: wrap;
}

.Languages .head {
  display: flex;
  min-width: 75%;
  padding-bottom: 3%;
  justify-content: space-between;
}

.Languages .head div {
  display: flex;
}

.Languages .head button {
  border: none;
  user-select: none;
  padding: 0 5px;
  margin-left: 5px;
  letter-spacing: 0.2em;
  border-radius: 2px;
  color: #D1D1D1;
  font-size: 0.8rem;
  background-color: #38653C;
}

.Languages .head button:hover {
  cursor: pointer;
  background-color: #497839;
  transform: scale(1.1);
}