.Languages {}

.Languages>h2 {
  padding: 1% 0 3%;
}

.Languages>div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Languages .head {
  display: flex;
  min-width: 75%;
  padding-bottom: 3%;
  justify-content: space-between;
}

.Languages .head div {
  display: flex;
}

.Languages .head button {
  padding: 0 5px;
  margin-left: 5px;
  font-size: 0.8rem;
}