.Language {
  background-color: #151E21;
  display: flex;

  margin: 5px 10px;

  color: white;

  width: min-content;

  height: min-content;
  max-width: fit-content;
  max-height: 210px;

  transition: 0.2s transform;
  transition: 0.1s box-shadow;
}

.Language .card {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 100px;
  width: 100px;


  height: 100px;
  min-height: 100px;

  user-select: none;

  align-items: center;
  justify-content: center;

  padding: 5px;

  border-radius: 2px;
  background-color: #151E21;
}

.Language .card::before {
  position: absolute;
  content: '';
  background-color: grey;

  border-radius: 50%;

  width: 10px;
  height: 10px;

  top: 14.5%;
  right: 5%;
}

.Language .card.alto::before {
  background-color: #009432;
}

.Language .card.medio::before {
  background-color: #C4E538;
}

.Language .card.bajo::before {
  background-color: #F79F1F;
}

.Language img {
  user-select: none;
  padding-top: 2%;
}

.Language>h5 {
  text-align: center;
}

.Language:hover {
  cursor: pointer;
  box-shadow: 0px 6px 15px 0px rgba(130, 130, 130, 0.65);
  -webkit-box-shadow: 0px 6px 15px 0px rgba(130, 130, 130, 0.65);
  -moz-box-shadow: 0px 6px 15px 0px rgba(130, 130, 130, 0.65);
  transform: scale(1.1);
}

.Language .information {
  padding: 5px 0;

  font-size: 1rem;
  letter-spacing: 0.1em;
  line-height: 1.2rem;
  width: 260px;
  max-width: 390px;

  word-wrap: break-word;
  overflow-y: scroll;
}

.Language .information p {
  padding: 5px 0;
}

.Language .information::-webkit-scrollbar {
  -webkit-appearance: none;
}

.Language .information::-webkit-scrollbar:vertical {
  width: 8px;
}

.Language .information::-webkit-scrollbar-button:increment,
.Language .information::-webkit-scrollbar-button {
  display: none;
}

.Language .information::-webkit-scrollbar:horizontal {
  height: 10px;
}

.Language .information::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}

.Language .information::-webkit-scrollbar-track {
  border-radius: 10px;
}