/* .AboutMe {} */

/* .AboutMe .description {} */
.AboutMe .description h2 {
  padding-top: 3%;
}

.AboutMe .description h2::first-letter {
  text-transform: uppercase;
}

.AboutMe .description>p {
  padding-top: 1%;
  padding-left: 3%;
}